QTreeView#treeWidget{
	padding:2px;
	show-decoration-selected: 1;
	border:1px solid gray;
	border-radius: 2px;
}
QTreeView#treeWidget::item {
	border: 1px solid #d9d9d9;
	border-left-color: transparent;
	border-top-color: transparent;
	height:30px;
}
QTreeView#treeWidget::item:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
	border: 1px solid #bfcde4;

}
QTreeView#treeWidget::item:selected{
	border: 1px solid #567dbc;

}
 QTreeView#treeWidget::item:selected:active{
	background: #567DBC;

}
QTreeView#treeWidget::item:selected:!active {
	background: #567DBC;

}